<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Tech Blog</title>

  
</head>

<body class="sub_page">
  
   
  <!-- blog section -->

  <section class="blog_section layout_padding-top layout_padding2-bottom">

    <div class="container">
      <div class="heading_container">
        <h2>
          ICT and Agricultural Courses we provide at Litteup Groups Inc are:
        </h2>
      </div>
      <div class="blog_container">
        <div class="box">
          <div class="img-box">
            <img src="images/b-1.jpg" alt="">
          </div>
          <div class="detail-box">
            <h3>
              ICT Courses:
            </h3>
            <p>
             <span> Database management, Frontend Development , Backend development, Android Development, Cyber Security, User interface& User Experience Design, Hacking and Penetration Testing, Data analysis and optimization, Computer Networking, Risk management, Policy and system management and Handling of big data.
            </p>
			<h3> 
				Agriculture Course:
			</h3>
			<p>
             We provide trainings ( beginnner, intermediate and advance plus refresher courses ) Snail farming, fishery, Rabbitery, Grasscutter farming,
			 Bee farming, Guinea Pigs and poultry farming such as Chicken, Turkey, Ostrich, Quail, Duck, Goose, Pigeon and Parrots. Other training include, dog socialization,
			 handling and puppy management. 
.			</p>
          </div>
        </div>
        
         
        </div>
      </div>
    </div>

  </section>




  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; 2022 All Rights Reserved By
        <a href="https://www.litteupgroupsinc.com/">Litteup Groups Inc</a>
      </p>
    </div>
  </footer>
  <!-- end  footer section -->


</body>
</body>

</html>