

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Tech Blog</title>

  
</head>

<body class="sub_page">
  
   
  <!-- blog section -->

  <section class="blog_section layout_padding-top layout_padding2-bottom">

    <div class="container">
      <div class="heading_container">
        <h2>
          Litteup Groups Inc
        </h2>
      </div>
      <div class="blog_container">
        <div class="box">
          <div class="img-box">
            <img src="images/b-1.jpg" alt="">
          </div>
          <div class="detail-box">
            <h3>
              Who are we and what do we do ?
            </h3>
            <p>
             <span>Litteup Groups Inc. is a Nigerian conglomerate company based in Maitama in the Federal Capital Territory, Abuja. We are into IT Technology providing various IT solutions such as data optimization, Cyber security, Properties protection, Web development, Programming amongst others. We are also into AgroEconomics and we designs, setup and establish farms for starters and expansion purposes. Our farm product includes eggs for Chicken, Turkeys, Quail, Ostrich, Duck, Goose, Pigeon and Guinea fowl. Others are meats from the above mentioned birds and other animals such as Pork, Rabbit, Grasscutter, Goat, Ram and Guinea pigs.
                           </span>
              <span>Additionally, we provide courses for all levels in both ICT and AgroEconomics. For Details of these courses, please visit our courses page.</span>

            </p>
			<p>
              We are an established group of company with over 10 years of experience and over 5000 staff across 30 states across the nation.</p>
          </div>
        </div>
        
         <div class="detail-box">
            <h5>
              Services and Products Delivery
            </h5>
            <p>
              We partner with various logistics company to timely deliver our customers request across the nation at no cost to them. This is in line with our goal of customer centric focused service at an affordable price regarldless of where you are located within the country. This is also an effort to make sure that each specific product is sold at the same amount across the country.
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>




  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; 2022 All Rights Reserved By
        <a href="https://www.litteupgroupsinc.com/">Litteup Groups Inc</a>
      </p>
    </div>
  </footer>
  <!-- end  footer section -->


</body>
</body>

</html>